/* .modal-content {
  background-image: url('https://cdn.pixabay.com/photo/2017/03/27/02/25/lake-kaniere-2177121_1280.jpg');
} */

.modal-header{
  border-top: 10px solid #0F97A6;
  background-image: linear-gradient(30deg, #a62934, #eba881);
  width: auto;
  margin: 15px;
  height: auto;
}
.modal-title {
  /* background-color:#fffff6 ; */
  color: #ccc;
  border-radius: 10px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  padding: 20px;
    
}

.table {
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;
}
.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.form-column {
  display: flex;
  flex-direction: column;
}

.form-actions {
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.form-group label {
  margin-bottom: 5px;
  text-align: left;
  display: block;
  font-weight: bold;
}

.form-group input,
.form-group select,
.custom-select {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
  width: 100%;
}
.form-group{
  /* text-shadow: 2px 2px 5px rgba(45, 44, 44, 0.5); */
  /* margin-bottom: 20px; */
  font-size: large;
  margin-bottom: 5px;
  color: #e77155;
}
.mat-select.mat-select {
  background-color: #fff !important;
  opacity: 1 !important;
}

.custom-select {
  background-color: #ffffff;
}

.modal-actions button {
  /* margin: 0 10px; */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.modal-actions button.save-button {
  margin-right: 10px; /* Margen solo en el lado derecho para el botón Save */
}

.modal-actions button.cancel-button {
  margin-left: 10px; /* Margen solo en el lado izquierdo para el botón Cancel */
}

.button-no-style {
  all: unset;
  /* background-image: initial;
  border-radius: 100%;
  background-size: 100% auto; */
  background-color: transparent; 
  border: none; 
  border-radius: 50%; 
  width: 50px;
  height: 50px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  cursor: pointer; 
  outline: none; 
  
}

.button-no-style:hover {
  all: unset; 
   background-color: rgba(128, 128, 128, 0.3); 
  border: none; 
  border-radius: 50%; 
  width: 50px;
  height: 50px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  cursor: pointer; 
  outline: none; 
}

button {
  border: none;
  color: #fff;
  background-image: linear-gradient(30deg, #a62934, #eba881);
  border-radius: 20px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  padding: 0.6em 1.5em;
 }
 
 button:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 3s infinite;
  animation: pulse512 3.5s infinite;
  background: linear-gradient(30deg, #be0c1b, #3a86ff);
 }
 
 @keyframes pulse512 {
  0% {
   box-shadow: 0 0 0 0 #05bada66;
  }
 
  70% {
   box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }
 
  100% {
   box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
 }

/*Modo responsivo, se vuelve una columna al ejecutar con pantallas mas pequeñas
y cambia para pantallas mas grandes a partir de la resolucion de 768px dos columnas Tablets,iPads y Escritorio*/
@media only screen and (max-width: 280px) {
  .form-group input,
  .form-group select,
  .custom-select {
    padding: 6px; 
    margin: 2px 0; 
    width: 100%;
  }
  .form-grid {
    display: block;
  }
  .form-column {
    width: 100%;
    align-items: center;
  }
  .form-actions {
    flex-direction: column;
  }
  
}

@media only screen and (max-width: 480px) {
  .form-group input,
  .form-group select,
  .custom-select {
    padding: 6px; 
    margin: 2px 0; 
    width: 100%;
  }

  .form-grid {
    display: block;
  }

  .form-column {
    width: 100%;
    align-items: center;
  }
  .form-actions {
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  .form-group input,
  .form-group select,
  .custom-select {
    padding: 6px; 
    margin: 2px 0; 
    width: 100%;
  }
  .form-actions {
    flex-direction: column;
  }
}