.modal-content {
  background-image: url('https://cdn.pixabay.com/photo/2017/03/27/02/25/lake-kaniere-2177121_1280.jpg');
  background-size: cover;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.modal-title{
  color: darkcyan;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 22px;
}
.table{
  margin-top: 20%;
}
.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.form-column {
  display: flex;
  flex-direction: column;
}

.form-actions {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.form-group label {
  margin-bottom: 5px;
  text-align: left;
}

.form-group input,
.form-group select,
.custom-select {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
}
.form-group{
  color: rgb(255, 81, 0);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.mat-select.mat-select {
  background-color: #fff !important;
  opacity: 1 !important;
}

.custom-select {
  background-color: #ffffff;
}

.modal-actions button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
/*Modo responsivo, se vuelve una columna al ejecutar con pantallas mas pequeñas
modo simétrico*/
@media (max-width: 768px) {
  .modal-content {
    padding: 10px;
  }

  .form-grid {
    display: block;
  }

  .form-column {
    width: 100%;
    align-items: center;
  }

  .form-group label {
    text-align: center;
    margin-bottom: 2px;
  }

  .form-group input,
  .form-group select,
  .custom-select {
    margin-top: 5px;
  }

  .form-actions {
    flex-direction: column;
  }
}
