<mat-card class="modal-content">
  <mat-card-header class="modal-header">
    <mat-card-title class="modal-title">Edit Address</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="AddressForm" (ngSubmit)="updateAddress()">
      <div>
        <div class="form-group">
          <mat-label for="AddressName"><b>Address Name*</b></mat-label>
          <input matInput formControlName="AddressName" id="AddressName">
        </div>
        <div class="form-group">
          <mat-label for="AddressName2"><b>Address Name 2</b></mat-label>
          <input matInput formControlName="AddressName2" id="AddressName2">
        </div>
        <div class="form-group">
          <mat-label for="Street"><b>Street Address, PO Box*</b></mat-label>
          <input matInput formControlName="Street" id="Street">
        </div>
        <div class="form-group">
          <mat-label for="Block"><b>Apartment/Unit (Optional)</b></mat-label>
          <input matInput formControlName="Block" id="Block">
        </div>
        <div class="form-group">
          <mat-label for="City"><b>City/Town*</b></mat-label>
          <input matInput formControlName="City" id="City">
        </div>
        <div class="form-group">
          <mat-label for="State"><b>State*</b></mat-label>
          <mat-select formControlName="State" class="form-control" aria-label="Default select example">
            <mat-option selected>Select an option from the list</mat-option>
            <mat-option *ngFor="let item of this.StateList?.value" [value]="item.Code">{{ item.Name }}</mat-option>
          </mat-select>
        </div>
        <div class="form-group">
          <mat-label for="ZipCode"><b>Zip Code*</b></mat-label>
          <input matInput formControlName="ZipCode" id="ZipCode">
        </div>
        <div>
          <h6>Please fill all the mandatory (*) fields</h6>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions class="modal-actions">
    <button mat-button [mat-dialog-close]="AddressForm.value">Save</button>
    <button mat-button (click)="close()">Cancel</button>
  </mat-card-actions>
</mat-card>
