h2 {
  color: black;
}
.iconsave{
  font-size: 28px;
  width: 35px;
  height: 30px;
  border-radius: 50%;
  margin-left: 10px;
  margin-bottom: 15px;
  text-align: center;
  align-items: center;
  background: linear-gradient(30deg, #a62934, #eba881);
}
.button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.h2Mat {
  display: block;
  text-align: left;
  color: #0F97A6;
  display: inline-block;
  margin-right: 10px;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mat-raised-button mat-icon {
  color: white;
}

.actions {
  margin-left: 2px;
  margin-top: 10px;
  color: white;
}

button.mat-raised-button .icon {
  color: white;
}

.button-group {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}

.custom-button,
.edit-custom-button {
  width: 100%;
  margin-top: 10px;
  color: #ffffff;
  background-color: darkcyan;
}

.edit-custom-button:disabled {
  background-color: grey;
  opacity: .5;
}

.add-custom-button {
  width: 100%;
  margin-top: 10px;
  color: #ffffff;
  background-color: darkcyan;
}

.list-custom-button {
  width: 100%;
  margin-top: 10px;
  color: #ffffff;
  background-color: darkcyan;
}

.custom-snackbar {
  background-color: #ff231b;
  color: #ffffff;
  height: 50px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  size: 15px;
}

.mat-card {
  border-top: 8px solid #0F97A6;
  background-color: rgba(254, 254, 254, 0.9);
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  color: rgb(255, 255, 255);
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fffff6;
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-container {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  display: grid;
}

.label-container,
.label-containerC {
  display: flex;
  flex-direction: column;
  padding-bottom: -50px;
}

.label {
  font-size: 1.1em;
  margin-bottom: 5px;
  color: #e77155;
}

.boxCustom {
  height: 40px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
}

body {
  background-color: rgb(238, 25, 106);
}

.cartnext {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.right-button {
  margin-left: auto;
}

button {
  border: none;
  color: #fff;
  background-image: linear-gradient(30deg, #a62934, #eba881);
  border-radius: 20px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  padding: 0.6em 1.5em;
}

button:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
  background: linear-gradient(30deg, #be0c1b, #3a86ff);
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #05bada66;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}

.icon {
  color: white;
}

/* tamaños de pantalla de celu*/
@media only screen and (max-width: 990px) {
  .container {
    grid-template-columns: 1fr;
    margin-left: 70px;
    align-items: center;
    overflow-y: auto;
    max-height: 99%;
  }
  .mat-card {
    display: flex;
    flex-direction: column;
    width: 85%;
  }
  .label {
    white-space: nowrap;
  }
  .boxCustom{
    width: 30vh;
  }
  .grid-container {
    /* display: flex;
    flex-direction: column; */
    grid-template-columns: 1fr;
  }
  .add-custom-button,
  .edit-custom-button,
  .list-custom-button {
    padding: 10px 5px;
    text-align: center;
  }
  .icon {
    text-align: center;
  }

  .button-container {
    display: flex;
    justify-content: space-around; 
  }
  .button-group{
    gap: 10vh;
  }
  .iconsave{
    font-size: 28px;
    width: 35px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
    margin-bottom: 15px;
    text-align: center;
    align-items: center;
    background: linear-gradient(30deg, #a62934, #eba881);
  }
}
/* pantalla para tablets */
@media only screen and (min-width: 601px) and (max-width: 1366px) {
  .container {
    margin-left: 80px;
    grid-template-columns: 1fr;
    overflow-y: auto;
    max-height: 99%;
  }
  .mat-card {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .grid-container {
    grid-template-columns: 1fr;
  }
  .boxCustom {
    width: 90%;
    align-items: center;
  }
  .custom-button {
    width: 70%;
  }
  .add-custom-button {
    width: 97px;
  }
  .edit-custom-button {
    width: 97px;
  }
  .list-custom-button {
    width: 97px;
  }
  .icon {
    margin-left: 90px;
    align-items: center;
  }
  .backbtn{
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #a62934, #eba881);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
  }
}