<div class="body">
  <div class="title"><br>
    <h2>Items</h2>
  </div>
  <div class="table-container" [style.display]="showTable">
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input class="search" matInput (keyup)="applyFilter($event)" placeholder="Item" #input>
    </mat-form-field>
    
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
      <!-- Position Column -->
      <ng-container matColumnDef="selectedCustomer">
        <th mat-header-cell *matHeaderCellDef> Item Code </th>
        <td mat-cell *matCellDef="let customerData"> {{ customerData.ItemCode }} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="item">
        <th mat-header-cell *matHeaderCellDef> Item Name </th>
        <td mat-cell *matCellDef="let customer"> {{ customer.ItemName }} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="orderTotal">
        <th mat-header-cell *matHeaderCellDef> Bar Code </th>
        <td mat-cell *matCellDef="let customer"> {{ customer.BarCode }} </td>
      </ng-container>
    
      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let customer">
          <button mat-icon-button (click)="importOrder(customer)">
            <mat-icon>add_shopping_cart</mat-icon>
          </button>
          <button mat-icon-button (click)="editCustomer(customer)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="showMoreInfo(customer)">
            <mat-icon>info</mat-icon>
          </button>
          <button mat-icon-button (click)="removeCustomer(customer)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
    
      <!-- Header and Row Definitions -->
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    
      <!-- No Data Row -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Data no found in the list "{{input.value}}"</td>
      </tr>
    </table>
  </div>
  <div class="table-container spinner-container">
    <mat-progress-spinner *ngIf="isLoading" mode="indeterminate" class="centered"></mat-progress-spinner>
  </div>
</div>
