<div class="background">
  <div class="container">
    <br>
    <h2>Items</h2>
    <div fxLayout="row" fxLayoutAlign="end center">
      <button mat-raised-button color="primary">Add New Item</button>
      <div style="width: 1.5rem;"></div>
    </div>
    <br>
    <!-- buscador -->
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input class="search" matInput (keyup)="applyFilter($event)" placeholder="Item" #input>
    </mat-form-field>
    <!-- Contenedor de los ítems -->
    <div *ngIf="!isLoading">
      <div fxLayout="row wrap" fxLayoutGap="15px" fxLayoutAlign="center center">
        <div class="item-card" fxFlex.gt-sm="20%" fxFlex.gt-xs="25%" *ngFor="let item of pagedItems; let i = index">
          <div>
            <mat-card class="itemSection">
              <mat-card-header class="CardItems">
                <mat-card-title>{{ item.ItemName }}</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p>Item Code: {{ item.ItemCode }}</p>
                <p>Bar Code <mat-icon svgIcon="barCode"></mat-icon>: {{ item.BarCode }}</p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
      <!-- Paginator -->
      <mat-paginator [length]="totalItems" [pageSize]="itemsPerPage" [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="pageChanged($event)">
      </mat-paginator>
    </div>
    <!-- Spinner -->
    <div class="table-container spinner-container" *ngIf="isLoading">
      <mat-progress-spinner mode="indeterminate" class="centered"></mat-progress-spinner>
    </div>
  </div>
</div>
