.close{
    font-size: 20px;
    justify-content: flex-end;
    align-items: center;
    background: white;
    border: 0 white;
    margin: 2px;
    color: rgb(158, 0, 0);;
}

.close:hover{
    color: black;
    background: white;
}

.tittle{
    padding: 2px;
    margin-left: 10px;
    padding-left: 10px;
}

.icon{
    font-size: 5px;
    height: auto;
}

.custom-dialog{
    width: 300px;
    z-index: 90;
    background-color:transparent;
}

.floating-button-container {
    position: fixed;
    margin-top: -20px;
    margin-right: 40px;
    z-index: 100;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.icon-b{
    border: 0x solid transparent;
}

.fixWindow{
    z-index: -30;
}

.view{
    color: rgb(210, 142, 18);
    border: 2px solid rgb(210, 142, 18);
    background: white;
    border-radius: 5px;
    
    width: calc(100% + 2px);
    height: calc(100% + 2px);
}

.view:hover{
    background-color: rgb(210, 142, 18, 0.1);
}

:host ::ng-deep .cdk-overlay-pane {
    z-index: 5;
}
.sticky-container{
    padding:0px;
    margin:0px;
    position:fixed;
    right:-130px;
    top:230px;
    width:210px;
    z-index: 1100;
}
/* .floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */
  
@media (min-width: 412px) and (max-width: 914px) {
    .custom-dialog {
        width: 300px;
        border-radius: 0;
        margin: 5px;
    }

    .tittle {
        font-size: 16px; 
        padding: 2px;
        margin-left: 10px;
        padding-left: 10px;
        width: 80%; 
    }

    .fixWindow {
        z-index: 5; 
        margin: 5px;
    }

    :host ::ng-deep .cdk-overlay-pane {
        z-index: 5; 
        margin: 5px;
    }
}
@media (min-width: 375px) and (max-width: 667px) {
    .custom-dialog {
        width: 250px;
        border-radius: 0;
    }

    .tittle {
        font-size: 16px; 
        padding: 2px;
        margin-left: 10px;
        padding-left: 10px;
        width: 80%; 
    }

    .fixWindow {
        z-index: 5;
    }

    :host ::ng-deep .cdk-overlay-pane {
        z-index: 5; 
    }
}
@media (min-width: 360px) and (max-width: 740px) {
    .custom-dialog {
        width: 250px;
        border-radius: 0;
    }

    .tittle {
        font-size: 16px; 
        padding: 2px;
        margin-left: 10px;
        padding-left: 10px;
        width: 80%; 
    }

    .fixWindow {
        z-index: 5;
    }

    :host ::ng-deep .cdk-overlay-pane {
        z-index: 5; 
    }
}