/* Estilos generales */
.mat-list-item {
    margin: 20px;
    background-color: rgba(232, 255, 255, 0.5);
    border-radius: 10%;
    padding: 5px;
  }

a{
  margin-right: 20px;
}

.h2Order{
  background-color: #a62934;
  color: white;
  border-radius: 10px; 
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 5px;
}

.circle {
  width: 15px;
  height: 15px;
  background-color: green; /* Cambia el color del círculo según tus preferencias */
  border-radius: 50%;
  display: inline-block;
}


.divH2{
  display: flex;
  align-items: top;
}

.status{
  color: #0d0d0d;
  border-radius: 10px; 
  padding: 10px;
  height: 10px;
  display: flex; /* Usa flexbox para centrar vertical y horizontalmente */
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: center; /* Centra horizontalmente el contenido */
}

.status-text {
  margin-left: 5px; /* Ajusta el margen izquierdo según tus preferencias */
}
  
  .background {
    /* background-image: url('src/assets/images/Camping.jpg');  */
    background-color: #fffff6;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    min-height: 100%;
    max-height: 400%;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    color: rgb(255, 255, 255);
  }
  
  /* Títulos */
  .h2Mat {
    text-align: left;
    color: #0F97A6;
  }
  .h3Mat {
    text-align: left;
    color: #e77155;
  }
  
  /* Cuadros de texto y etiquetas */
  .label-container {
    display: flex;
    flex-direction: column;
    margin-top: 1px;
    color: red;
  }
  
  .label {
    font-size: 1.1em;
    margin-bottom: 5px;
    color: #e77155;
  }
  
  .boxCustom {
    height: 45px;
    border-radius: 11px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .editable-input {
    background-color: #ffffff; /* Cambiar el color de fondo para indicar que es editable */
  }
  
  /* Botones */
  .custom-button {
    width: auto;
    margin-top: 10px;
    width: 250px;
    background-color: #e77155;
  }
  
  .edit-custom-button {
    width: auto;
    margin-top: 10px;
    width: 10px;
    background-color: #e77155;
  }
  
  .info-item {
    color: black;
  }
  
  .content-wrapper {
    padding: 20px; /* Ajusta el espaciado interno de la tarjeta */
    min-height: 300px; /* Ajusta la altura mínima de la tarjeta según tus necesidades */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .option1-content {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .small-button {
    margin-right: 10px; /* Ajusta el margen según tu preferencia */
  }
  
  .mat-divider {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  /* Tarjetas */
  .mat-card {
    border-top: 10px solid #0F97A6;
    background-color: rgba(254, 254, 254, 0.9);
    padding: 20px;
  }
  
  .side-cards {
    flex: 1;
    border-top: 8px solid darkcyan;
    background-color: rgba(254, 254, 254, 0.9);
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  /* Rejilla */
  /* .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    display: grid;
  }
   */
  .grid-container-date {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    display: grid;
  }
  .item-container {
    display: flex;
    flex-direction: column;
    margin-right: 20px; /* Ajusta el margen entre los campos de los items */
    flex: 1; /* Ajusta el ancho de cada campo para que se ajuste en una sola fila */
  }
  .grid-container {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente línea si no caben en una sola fila */
    align-items: center; /* Alinea los elementos verticalmente en el centro */
  }
  
  .label-container {
    flex: 1; /* Hace que cada campo ocupe la misma cantidad de espacio en la fila */
    display: flex;
    flex-direction: column;
    margin-right: 20px; /* Ajusta el margen entre los campos de los items */
  }

.label-total {
  display: flex;
  justify-content: flex-end; /* Alinea la etiqueta a la derecha */
  margin-top: 20px; /* Ajusta el margen superior según sea necesario */
  color: black;
}
.button-container {
  display: flex;
  margin-top: flex; 
  margin-left: flex; 
  justify-content: space-between;
}

.add-button {
  background-color: #4caf50; /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
}

.mobile-button {
  background-color: #397eac;
  color: white;
}


.save{
  width: 120px;
  margin-right: 10px ;
}

.save:disabled{
  width: 120px;
  background-color: grey;
  opacity: .5;
}

/* ... (otros estilos) */

  /* Estilos responsivos */
  /* Pantallas más pequeñas */
  @media screen and (max-width: 768px) {
    .container {
      grid-template-columns: 1fr;
    }
  
    .grid-container {
      grid-template-columns: 1fr;
      grid-gap: 20px; /* Aumentar el espacio entre elementos */
    }
  
    .label-container {
      margin-bottom: 20px; /* Aumentar el espacio entre grupos de etiquetas */
    }
  
    .custom-button {
      font-size: 0.8em; /* Reducir el tamaño de los botones */
    }
  
    .label {
      font-size: 1em; /* Reducir el tamaño de las etiquetas */
    }
  
    .boxCustom {
      height: 30px; /* Reducir la altura de los campos de entrada */
      padding: 8px; /* Reducir el espacio interno */
    }
  }
  
  /* Pantallas aún más pequeñas (por ejemplo, smartphones en posición vertical) */
  @media screen and (max-width: 480px) {
    .boxCustom {
      height: 25px; /* Reducir aún más la altura de los campos de entrada */
      padding: 6px; /* Reducir el espacio interno */
    }
  
    .background {
      width: 100%;
      height: 100%;
    }
  
    .mobile-button {
      margin-top: 10px; /* Agregar espacio en el botón */
    }
  }
  