<div class="background">
  <div>
    <div class="container" fxLayout="column" fxLayoutGap="20px">
      <br>
      <!-- <div class="label-total">
        </div> -->
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div class="divH2">
          <h2 class="h2Order"><b>Order {{order!.DocNum}}</b></h2>
          <span class="status" [style.border]="colorStatus">
            <div class="circle" [style.background-color]="statusCircle(order!.DocumentStatus)"></div> 
            <span class="status-text">{{status(order!.DocumentStatus)}}</span>
          </span>
          <div class="icos">
            <mat-icon class="iconsave">{{cloudChange}}</mat-icon>
          </div>
        </div>
        <div>
          <h2 class="h2OrderIndex" *ngIf="OrderIndexDB !== undefined"><b>ID Index {{OrderIndexDB.id}}</b></h2>
          <button mat-raised-button color="primary" class="return" (click)="returnPage()">
            <mat-icon>arrow_back</mat-icon> Back
          </button>    
          <!-- <button mat-raised-button color="primary" class="mobile-button save" (click)="updateOrder()">
            <mat-icon>save</mat-icon> Updat
          </button> -->
        </div>
      </div>
      <div class="container-users">
        <i class="bi bi-eye-fill" style="color: black;"></i><h1 style="color: black; margin-top: -10px;">:</h1>&nbsp;
        <div *ngFor="let usersC of UsersConnection" class="users">
          <!-- <h1>Edit</h1> -->
          <span style="color: black;">{{usersC.Name}}</span>
          <i class="bi bi-person-raised-hand" style="color: black;"></i>
        </div>
      </div>
      <ng-container *ngIf="order">
        <!-- First Card -->
        <mat-card class="mat-card">
          <mat-card-content>
            <h2 class="h2Mat">Order Information <mat-icon>description</mat-icon></h2>
            <div class="grid-container">
              <div class="label-container">
                <label class="label">Card Code:</label>
                <input type="text" class="boxCustom" [(ngModel)]="order.CardCode" disabled="true">
              </div>
              <div class="label-container">
                <label class="label">Card Name:</label>
                <input type="text" class="boxCustom" [(ngModel)]="order.CardName" disabled="true">
              </div>
              <div class="label-container">
                <label class="label">Reference Number:</label>
                <input type="text" class="boxCustom" [(ngModel)]="order.NumAtCard" disabled="true">
              </div>
              <div class="label-container">
                <label class="label">Posting date:</label>
                <mat-form-field class="example-full-width">
                  <input matInput [matDatepicker]="postingDate"  [formControl]="post" (change)="updateOrder('ChangePostDate')" [value]="order.DocDate | date:'yyyy-MM-dd'">
                  <mat-datepicker-toggle matIconSuffix [for]="postingDate"></mat-datepicker-toggle>
                  <mat-datepicker #postingDate></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="label-container">
                <label class="label">Delivery Date:</label>
                <mat-form-field>
                  <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="deliveryDate" [min]="minDate" [formControl]="delivery" (dateChange)="updateOrder('Change_Delivery_Date')">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="deliveryDate"></mat-datepicker-toggle>
                    <mat-datepicker #deliveryDate></mat-datepicker>
                  </mat-form-field>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions></mat-card-actions>
        </mat-card>
        <br>
        <!-- Tarjetas para elementos de DocumentLines -->
        <!-- Verificar si order está definido antes de mostrarlo -->
        <ng-container *ngIf="order">
          <!-- Tarjeta para mostrar todos los elementos de DocumentLines -->
          <mat-card class="mat-card">
            <mat-card-content>
              <div class="button-container">
              <h2 class="h2Mat">Item list <mat-icon>shopping_cart</mat-icon></h2>
                <button mat-raised-button color="primary" class="add-button" (click)="addItem()">
                  <mat-icon>add</mat-icon> Add Item
                </button>
              </div>
              <!-- Utiliza ngFor para recorrer todos los elementos de DocumentLines -->
              <div *ngFor="let item of order.DocumentLines; let i = index">
                <br>
                <h3 class="h3Mat"><b>Item #{{ i + 1 }}</b></h3>
                <div class="grid-container">
                  <!-- <div class="label-container">
                    <label class="label">Item Code:</label>
                    <input type="text" class="boxCustom" [(ngModel)]="item.ItemCode" [disabled]="item.ItemCode !== ''">
                  </div> -->
                  <div class="label-container">
                    <label class="label"><b>Item Code:</b></label>
                    <input type="text" class="boxCustom" id="search-text" aria-describedby="search-text" 
                    [(ngModel)]="item.ItemCode" placeholder="Enter text to search" 
                    autofocus [matAutocomplete]="auto" [disabled]="item.ItemDescription !== ''">
                    <mat-autocomplete #auto="matAutocomplete" [panelWidth]="'auto'" (optionSelected)="onSelectItem($event.option.value, item)">
                      <mat-option *ngFor="let c of ListItems| appFilter: item.ItemCode"  value="{{c.ItemCode}}">
                        {{c.ItemCode}} - {{c.ItemName}}
                      </mat-option>
                    </mat-autocomplete>
                  </div>
                  <div class="label-container">
                    <label class="label">Item Description:</label>
                    <input type="text" class="boxCustom" [(ngModel)]="item.ItemDescription" disabled="true">
                  </div>
                  <div class="label-container">
                    <label class="label">Unit Price:</label>
                    <input type="text" class="boxCustom" matInput placeholder="Unit Price" [(ngModel)]="item.UnitPrice" disabled="true">
                  </div>
                  <div class="label-container">
                    <label class="label">Quantity:</label>
                    <input  type="number"  class="boxCustom editable-input" matInput placeholder="Quantity" min="1"  [(ngModel)]="item.Quantity" (change)="changeQuantity(item)" >
                  </div>
                  <div class="label-container">
                    <label class="label">Line Total:</label>
                    <input  type="number"  class="boxCustom" matInput placeholder="LineTotal" [(ngModel)]="item.LineTotal" disabled="true">
                  </div>
                  <div class="label-container">
                    <label class="label">UDF Comments:</label>
                    <input type="text" class="boxCustom editable-input" matInput placeholder="UDF Comments" [(ngModel)]="item.U_Comments" (change)="updateOrder('Change_Comments_LineNum_'+i)">
                  </div>
                  <div class="label-container">
                    <button mat-icon-button (click)="removeItem(i)">
                      <mat-icon >delete</mat-icon>
                    </button>
                  </div>
                </div>
                <mat-divider></mat-divider>
              </div>
            </mat-card-content>
            <div class="label-total">
              <label><b>Total: ${{ totalOrder() | number:'1.2-2' }}</b></label>
            </div> 
            <br>
          </mat-card>
         
        </ng-container>
        <br><br>
      </ng-container>
    </div>
  </div>
</div>