<div class="button-container">
    <div class="button-group">
      <button mat-raised-button color="primary" class="custom-button">Back</button>
      <button mat-raised-button color="warn" class="custom-button">Add</button>
    </div>
  </div>
  <div class="container">
    <mat-card class="mat-card"> 
      <mat-card-content>
        <div class="grid-container">
          <div class="label-container">
            <label class="label">Customer Name:</label>
            <input type="text" class="boxCustom" matInput placeholder="Customer Name" >
            <!-- [(ngModel)]="customerName" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of customerOptions" [value]="option">
                {{ option }}
              </mat-option>
            </mat-autocomplete> -->
          </div>
          <div class="label-container">
            <label class="label">Billing Address:</label>
            <input type="text" class="boxCustom" matInput placeholder="Billing Address" >
            <!-- [(ngModel)]="billingAddress"> -->
          </div>
          <div class="label-container">
            <label class="label">Notes and Remarks:</label>
            <input type="text" class="boxCustom" matInput placeholder="Notes and Remarks" >
            <!-- [(ngModel)]="notes"> -->
          </div>
          <div class="label-container">
            <label class="label">Shipping Address:</label>
            <input type="text" class="boxCustom" matInput placeholder="Shipping Address" >
            <!-- [(ngModel)]="shippingAddress"> -->
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  
