<div class="background">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
    <h2 class="title">New Order</h2> 
    <button (click)="finishOrder()" [disabled]="idIndex === 0">Finish Order</button>
  </div>
  <div fxLayout="row" fxLayout.xs="column">
    <h2 class="h2Order">DocNum: {{DocNumPublish}}</h2>
    <h2 class="h2Order">ID Index: {{idIndex}}</h2>
  </div>
  
  <div fxLayout="row-reverse" fxLayout.xs="column">
    <div class="label-container" disabled fxFlex="25" fxLayoutAlign="end">
      <mat-form-field class="example-full-width">
        <mat-label class="label">Posting Date:</mat-label>
        <input matInput [matDatepicker]="postingDate" [formControl]="tax">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="postingDate"></mat-datepicker-toggle>
        <mat-datepicker #postingDate></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="label-container" fxFlex="25" fxLayoutAlign="end">
      <mat-form-field class="example-full-width">
          <mat-label class="label">Tax Date:</mat-label>
          <input matInput [matDatepicker]="taxDate" [formControl]="tax">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="taxDate"></mat-datepicker-toggle>
          <mat-datepicker #taxDate></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="label-container" fxFlex="25" fxLayoutAlign="end">
      <mat-form-field class="example-full-width">
        <mat-label class="label">Delivery Date:</mat-label>
        <input matInput [min]="minDate" [matDatepicker]="deliveryDate" [formControl]="delivery" (dateChange)="changeOrder(undefined, undefined, 'delivery')">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="deliveryDate"></mat-datepicker-toggle>
        <mat-datepicker #deliveryDate></mat-datepicker>
      </mat-form-field>
    </div>
    <!-- <div class="label-container" disabled fxFlex="25" fxLayoutAlign="end">
      <h2 style="margin-left: auto;"  id="DocNum">DocNum: {{DocNumPublish}}</h2>
    </div> -->
  </div>

  <mat-tab-group color="warn"  mat-stretch-tabs="false" mat-align-tabs="start">
    <br>
    <mat-tab label="Order Details">
      <br>
      <div class="grid-container-customerd">
        <mat-card class="mat-card expansion"> 
          <mat-card-header>
            <h2 class="h2Mat">Customer <mat-icon>person_outline</mat-icon></h2>
          </mat-card-header>
          <mat-card-content class="grid-container">
              <div class="label-container">
                <label class="label">Id Customer: </label>
                <input type="text" class="boxCustom" id="idcustomer" aria-describedby="Id Customer" [(ngModel)]="idcustomer" [disabled]="inputSearchCutomer || (ShowEdit === false)" >
              </div>            
              <div class="label-container">
                <label class="label">Customer Name:</label>
                <input type="text" class="boxCustom" id="search-text" aria-describedby="search-text" 
                [(ngModel)]="searchText" placeholder="Enter text to search" 
                autofocus [matAutocomplete]="auto" [disabled]="inputSearchCutomer">
                <button mat-raised-button class="custom-button" [disabled]="searchText.length == 0" *ngIf="showAddButton && ShowEdit" (click)="CreateCustomer()">Add New Customer</button>
                <button  class="custom-button" *ngIf="inputSearchCutomer && (ShowEdit === false)" (click)="changeCustomer()">Change Customer</button>
                <mat-autocomplete #auto="matAutocomplete" [panelWidth]="'auto'" (optionSelected)="onSelectCustomer($event.option.value, false)">
                  <mat-option *ngFor="let c of ListCustomers| appFilterC: searchText"  value="{{c.CardName}}"  class="optionList" >
                    {{c.CardCode}} - {{c.CardName}}
                  </mat-option>
                </mat-autocomplete>
              </div>
              <!-- <div class="label-container">
                <label class="label">Billing Address:</label>
                <input type="text" class="boxCustom"  matInput placeholder="Billing Address" disabled="true"
                [(ngModel)]="billingAddress">
                <div  fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px" *ngIf="ShowEdit">
                  <button mat-raised-button class="add-custom-button" *ngIf="inputSearchCutomer" (click)="AddAddress('bo_BillTo')"><mat-icon class="icon" fxFlex="33%">add_box</mat-icon>
                  </button>
                  <button mat-raised-button class="edit-custom-button" *ngIf="inputSearchCutomer" (click)="UpdateAddress('bo_BillTo', rowBill)" [disabled]="billingAddress === ''"><mat-icon class="icon" fxFlex="33%">edit_square</mat-icon>
                  </button>
                  <button mat-raised-button class="list-custom-button" *ngIf="inputSearchCutomer" (click)="CheckList('bo_BillTo')"><mat-icon class="icon" fxFlex="33%"> list_alt</mat-icon>
                  </button>
                  <button mat-raised-button class="edit-custom-button" *ngIf="inputSearchCutomer" (click)="DeleteAddress('bo_BillTo', rowBill)" [disabled]="billingAddress === ''"><mat-icon class="icon" fxFlex="33%">delete</mat-icon>
                  </button>
                </div>
              </div>
              <div class="label-container">
                <label class="label">Shipping Address:</label>
                <input type="text" class="boxCustom" matInput placeholder="Shipping Address" disabled="true"
                [(ngModel)]="shippingAddress">
                
                <div  fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px" *ngIf="ShowEdit">
                  <button mat-raised-button class="add-custom-button" *ngIf="inputSearchCutomer" (click)="AddAddress('bo_ShipTo')"><mat-icon class="icon">add_box</mat-icon></button>
                  <button mat-raised-button class="edit-custom-button" *ngIf="inputSearchCutomer" (click)="UpdateAddress('bo_ShipTo', rowShip)" [disabled]="shippingAddress === ''"><mat-icon class="icon" fxFlex="33%">edit_square</mat-icon>
                  </button>
                  <button mat-raised-button class="list-custom-button" *ngIf="inputSearchCutomer" (click)="CheckList('bo_ShipTo')"><mat-icon class="icon" fxFlex="33%"> list_alt</mat-icon>
                  </button>
                  <button mat-raised-button class="edit-custom-button" *ngIf="inputSearchCutomer" (click)="DeleteAddress('bo_ShipTo', rowShip)" [disabled]="shippingAddress === ''"><mat-icon class="icon" fxFlex="33%">delete</mat-icon></button>
                </div>
              </div> -->
              <div class="label-container">
                <label class="label">Phone 1:</label>
                <input type="text" class="boxCustom" matInput placeholder="Phone 1" [disabled]="showEditInputs"
                [(ngModel)]="phone1">
              </div>
              <div class="label-container">
                <label class="label">Email:</label>
                <input type="text" class="boxCustom" matInput placeholder="Email" [disabled]="showEditInputs"
                [(ngModel)]="email">
              </div>
              <div class="label-container">
                <label class="label">Notes and Remarks:</label>
                <input type="text" class="boxCustomNotes" matInput placeholder="Notes and Remarks"  [disabled]="showEditInputs"
                [(ngModel)]="notes">
              </div>
              <!-- <div class="label-container">
                <label class="label">Shipping Type:</label>
                <input type="text" class="boxCustom" matInput placeholder="Shipping Type" [disabled]="showEditInputs"
                [(ngModel)]="shippingType">
              </div>
              <div class="label-container">
                <label class="label">Tax Id:</label>
                <input type="text" class="boxCustom" matInput placeholder="Tax" [disabled]="showEditInputs"
                [(ngModel)]="taxId">
              </div> -->
              <div class="btns" *ngIf="ShowEdit">
                <button mat-raised-button mat-warn-dark class="actions" *ngIf="saveUpdates" (click)="UpdateCustomer()" ><mat-icon>save</mat-icon></button>
                <button mat-raised-button color="warn" class="actions" *ngIf="saveUpdates" (click)="Cancel()" ><mat-icon>clear</mat-icon></button>
                <button mat-raised-button mat-warn-dark class="actions" *ngIf="inputSearchCutomer" (click)="EditInputs()"  [disabled]="showEditInputs == false"><mat-icon>edit</mat-icon></button>
              </div>
          </mat-card-content>
        </mat-card>
        <mat-card class="mat-card expansion"> 
          <mat-card-header>
            <mat-card-title class="h2Mat"><h2 >Address <mat-icon>business</mat-icon></h2></mat-card-title>
            <mat-card-subtitle>You have to choose a Customer for choose a address</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="grid-container-customerd">
            <div class="radio-button-container" *ngFor="let adr of AddressData; let listIndex=index;">
              <mat-radio-group [(ngModel)]="option" (change)="changeOrder(undefined, undefined, 'address')">
              <div  fxLayout="row" >
                <mat-radio-button [value]="listIndex" ></mat-radio-button>
                <div class="option-details" >
                  <p><b>{{adr.AddressName}}</b></p>
                  <p>{{adr.AddressName2}}</p>
                  <p>{{adr.Street}} {{adr.ZipCode}}</p>
                  <p>{{adr.Block}}</p>
                  <p>{{adr.City}}</p>
                  <p>{{adr.Country}} {{adr.State}}</p>
                </div>
              </div>
            </mat-radio-group>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Cart">
      <br>
      <div class="grid-container-customerd">
        <mat-card class="mat-card expansion">
          <mat-card-header>
            <h2 class="h2Mat">Add Item <mat-icon> local_mall</mat-icon></h2>
          </mat-card-header>
          <mat-card-content class="grid-container">
              <div class="label-container">
                <label class="label">Search by name:</label>
                <input type="text" class="boxCustom" id="search-text-item" aria-describedby="search-text" 
                [(ngModel)]="searchTextItem" placeholder="Enter text to search" 
                autofocus [matAutocomplete]="autoItem" >
                <mat-autocomplete #autoItem="matAutocomplete" [panelWidth]="'autoItem'" (optionSelected)="onSelectItem($event.option.value)">
                  <mat-option *ngFor="let c of ListItems| appFilter: searchTextItem"  value="{{c.ItemCode}}"  class="optionList" >
                    {{c.ItemCode}} - {{c.ItemName}}
                  </mat-option>
                </mat-autocomplete>
              </div>
              <div class="label-container">
                <label  class="label">Item:</label>
                <input type="text" class="boxCustom" matInput placeholder="Item" disabled="true" [(ngModel)]="ItemName">
              </div>
              <div class="label-container" *ngIf="ItemName">
                <label class="label">Quantity:</label>
                <input type="number" class="boxCustom" matInput placeholder="Quantity" disabled="false" [(ngModel)]="Quantity" >
              </div>
              <div class="label-container" *ngIf="ItemName">
                <label class="label">Price:</label>
                <input type="number" class="boxCustom" matInput placeholder="Price" disabled="true" [(ngModel)]="Price" >
              </div>
              <!-- <div class="input-container" *ngIf="ItemName">
                <label><b>Comments: </b></label>
                <input type="text" class="boxCart" matInput placeholder="Add Comments"  [(ngModel)]="item.Comments" >
              </div> -->
              <br>
          </mat-card-content> 
          <button class="add-button" (click)="addToCart()">Add</button>
          <!-- <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayoutAlign.xs="center center">
            <a mat-raised-button color="primary" class="mobile-button"  (click)="backWindow()">Back</a>
            <a mat-raised-button color="primary" class="mobile-button" (click)="nextWindow()">Review Order</a>
          </div> -->
        </mat-card>

        <mat-card id="Cart" class="image-card info-card mat-card expansion" [class.image-card]="Cart && Cart.length ===0">
          <mat-card-header>
            <h1 class="h2Mat">Shopping Cart <mat-icon>shopping_cart</mat-icon></h1>
          </mat-card-header>
          <mat-card-content >
              <div class="cart-items" *ngFor="let Item of Cart; let listIndex=index;" >
                <div class="label-container-cart">
                  <label class="label" for="ItemName">Item:</label>
                  <input type="text" matInput class="boxCustom" for="ItemName"  id="ItemName" readonly [value]="Item.ItemDescription">
                </div>
                <div class="label-container-cart-s">
                  <label class="label" for="Quantity">Quantity:</label>
                  <input type="number" matInput class="boxCustomShort" for="Quantity" min="1" max="1000"
                    [(ngModel)]="Item.Quantity" (change)="updateTotal(listIndex,Item)">
                </div>
                <div class="label-container-cart-s">
                  <label class="label" for="Total">Total:</label>
                  <input type="number" matInput class="boxCustomShort" for="Price" min="1" readonly  [value]="Item.LineTotal! % 1 === 0 ? Item.LineTotal : Item.LineTotal | number:'1.2-2'">
                </div>
                <div class="label-container-cart">
                  <label class="label" for="Comments">Comments:</label>
                  <input type="text" class="boxCustom" matInput placeholder="Add Comments" [(ngModel)]="Item.FreeText"
                  (change)="updateComment(listIndex)">
                </div>
                <div class="label-container-cart-s">
                  <button mat-raised-button class="btnInfo" color="warn" (click)="RemoveToCart(listIndex)" [disabled]="Cart!.length === 1 && DocNumPublish !== 0">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
                <div class="label-container-cart-s">
                  <mat-icon  class="iconC">{{Item.Icon}}</mat-icon>
                </div>
                <mat-divider class="mdivider"></mat-divider>
              </div>
          </mat-card-content>
          <mat-card-actions align="end">
            <mat-divider></mat-divider>
            <div style="margin: 10px; text-align: right;">Total: ${{subTotal()}}</div>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<div *ngIf="isLoading" class="custom-spinner" fxLayoutAlign="center center">
  <mat-spinner [diameter]="120"></mat-spinner>
  Charging Order...
</div>