.label-container{
  display: block;
  flex-direction: column; /* Organiza los hijos en columna */
  margin: 5px;
  align-items: flex-start; /* Alinea los elementos al inicio del contenedor */
  width: 100%;
}

button {
  border: none;
  color: #fff;
  background-image: linear-gradient(30deg, #a62934, #eba881);
  border-radius: 20px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  padding: 0.6em 1.5em;
 }
 
 button:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 2.5s infinite;
  background: linear-gradient(30deg, #be0c1b, #3a86ff);
 }

 button:disabled {
  background-position: right center;
  background-size: 200% auto;
  background: linear-gradient(30deg, #2e2e2e, #9b9b9b);
  opacity: 0.7;
 }

 @keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #2c02c3bd;
  }
 
  70% {
   box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }
 
  100% {
   box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
 }

.label-container-cart{
  width: 250px;
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.left-column, .right-column {
  display: flex;
  flex-direction: column;
  width: 50%;
  
}
.right-column{
  margin-right: 50px;
}

.label-container-cart-s{
  width: auto;
  margin: 10px;
  margin-top:0px ;
}

mat-tab{
  margin: 10px;
}

.btnInfo {
  background-color: rgb(248, 77, 85);
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  margin-top: 14px;
  margin-left: 4px;
  width: 0px;
}
.custom-spinner{
  size: 30%;
  position: fixed; 
  top: 0;
  left: 5%;
  right: 0; 
  bottom: 0; 
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50; 
  font-family: inherit;
  font-size: 20px;
}
.grid-container-customerd{
  grid-template-columns: 5fr 10fr;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-gap: 10px;
  display: grid;
  margin: 5px;
 
}
.grid-container-customerd button{
  align-items: center;
}
.button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.h2Mat {
  display: block;
  text-align: left;
  color: darkcyan;
  display: inline-block;
  margin-right: 10px;
}
.title{
  font-size: 25px;
  font-family: "Anton", sans-serif;
  letter-spacing: 10px;
  transition: opacity 0.5s ease;
  position: absolute;
  color: #000000;
  text-shadow: -1px -1px 0 white,
  1px -1px 0 white,
  1px 1px 0 white,
  -1px 1px 0 white
  ;
}
h2{
    font-family: "Anton", sans-serif;
    font-size: 25px;
    opacity: 0;
    letter-spacing: 10px;
    transition: opacity 0.5s ease;
    position: absolute;
}
mat-tab-group{
  padding: 40px;
}
.wave{
  font-size: 25px;
  font-family: "Anton", sans-serif;
  letter-spacing: 10px;
  transition: opacity 0.5s ease;
  animation: wave 3s ease-in-out infinite;
  color: #0F97A6;
}
@keyframes wave{
  0%, 100%{
    clip-path: polygon(
      0% 47%,
      10% 48%,
      33% 54%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }
  50%{
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
h2.loaded {
  opacity: 1;
}
.btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.actions {
  margin-left: 2px;
  margin-top: 10px;
}

.button-group {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}

.custom-button,
.edit-custom-button {
  width: 100%;
  margin-top: 10px;
}

.edit-custom-button:disabled{
  background-color: grey;
  opacity: .5;
}

.add-custom-button {
  width: 100%;
  margin-top: 10px;
  color: #ffffff;
  background-color: darkcyan;
}

.list-custom-button {
  width: 100%;
  margin-top: 10px;
  color: #ffffff;
  background-color: darkcyan;
}

.custom-snackbar {
    background-color: #ff231b; 
    color: #ffffff; 
    height: 50px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    size: 15px;
}
.mat-card2 {
  border-top: 8px solid darkcyan;
  background-color: rgba(254, 254, 254, 0.9);
  
  margin-top: 20px;
}
.grid-container {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  display: grid;
}

.grid-container-date {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  display: grid;
}

.info-card {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;
  padding: 5px;
  margin: 20px;  
}


.cart-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 5px; 
}

.mdivider{
  width: auto;
}

.info-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}

/* .image-card {
  background-image: url('https://cdn.pixabay.com/photo/2016/12/12/13/23/shopping-cart-1901584_1280.png');
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 5px;
} */
.image-card {
  /* background-image: url('https://cdn.pixabay.com/photo/2016/12/12/13/23/shopping-cart-1901584_1280.png'); */
  background-image: url('../../assets/icons/cart.svg');
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center;
  padding: 5px;
 
}
.mat-card {
  /* border-top: 8px solid darkcyan; */
  background-color: rgba(254, 254, 254, 0.9);
  padding: 5px;
  padding-top: 5px;
  /* max-width: 600px; */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  color:rgb(255, 255, 255);
}
.expansion{
  border-top: 8px solid darkcyan;
  opacity: 0.9;
}
.background {
  background-color: #fffff6;
  /* background-image: url('src/assets/images/BussinesVector.jpeg'); */
  /* background-image: url('src/assets/images/Camping.jpg'); */
  margin: 0;
  padding: 10px;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
}

html, body {
  height: 100%;
  margin: 0;
}
h2 {
  margin-left: 30px;
  color: black;
}
.h2Order{
  background-color: #0F97A6;
  color: white;
  width: 250px;
  font-size: medium;
  border-radius: 10px; 
  padding: 5px;
  margin-right: 5px;
}

/* .grid-container {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  display: grid;
} */

/* .label-container,
.label-containerC {
  display: flex;
  flex-direction: column;
  padding-bottom: -50px;
} */

.label {
  font-size: 1.1em;
  margin-bottom: 3px;
  color: #e77155;
  /* width: 200px; */
  display: block;
}
.custom-button, .add-button1 {
  flex: 1 1 auto; 
  margin: 0 5px; 
}

.custom-button, .add-button1 {
  min-width: 140px; 
}

.boxCustom {
  height: 40px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 400px;
}

.boxCustomShort {
  height: 40px;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 100px;
  text-align: center;
}
.boxCustomNotes {
  height: 60px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 250px;
}

body {
  background-color: rgb(238, 25, 106);
}

.cartnext {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.right-button {
  margin-left: auto;   
}

.add-button {
  background-color: rgb(255, 117, 83);
  color: white; 
  width: 30%;
  margin: 5px;
  margin-left: 20px;
}
.add-button1{
  background-color: rgb(255, 117, 83);
  color: white; 
  width: 100%;
  margin: 5px;
  margin-left: 10px;
  height: 40px;
}


mat-card expansion {
  width: 100% !important;
  border-top: 8px solid darkcyan;
  opacity: 0.9;
  margin-bottom: 20px;
}

mat-tab-group{
  margin-left: 30px;
}

.footer{
  position: sticky;
  bottom: 0;
  left: 0;
  width:97%;
  margin-left: 35px;
  background-color: #85b4ff;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
  z-index: 50;
  border-radius: 30px 30px 0 0; /* Redondea las esquinas superiores */
} 

.DocNum{
  margin-right: 10px;
  font-weight: bold;
}
.CustomName{
  font-weight: bold;
}
.doc-entry {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  justify-content: space-between;
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
}

grid-container-items {
  width: 100%; 
}
/* .iconC{
  display: inline;
  justify-content: space-between;
} */
/* para celulares */
@media screen and (max-width: 767px) {
  .grid-container,
  .grid-container-date {
    grid-template-columns: 1fr; 
    grid-gap: 5px;

    margin: 3px;
  }

  .label-container{
    width: 250px;
    margin: 3px;
  }
  .boxCustomNotes{
    width: 80%;
  }
  .custom-button,
  .edit-custom-button,
  .add-custom-button,
  .list-custom-button {
    width: auto; 
    margin: 10px 0; 
  }

  .label {
    font-size: 1em; 
  }

  .boxCustom {
    height: auto; 
    padding: 8px; 
  }

  .cartnext {
    margin-left: 0; 
  }
  .grid-container-customerd{
    display: flex;
    flex-direction: column;
  }

  .left-column, .right-column {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-right: 0px;
  }

  .boxCustom {

    width: auto;
  }

  .DocNum, .CustomName {
    margin-right: 20px; /* Aumenta el margen en escritorio */
  }

  .footer {
    width: 100%;
    margin-left: 0; 
  }
  mat-tab-group{
    margin: 0;
  }
}
/* para tablets o ipads */
@media screen and (max-width: 1024px) {
  .grid-container,
  .grid-container-date {
    grid-template-columns: 1fr; 
    grid-gap: 5px;

    margin: 3px;
  }

  .label-container{
    width: 250px;
    margin: 3px;
  }
  .boxCustomNotes{
    width: 80%;
  }

  .boxCustom {

    width: auto;
  }
  /* .label-container,
  .label-containerC {
    margin-bottom: 20px;
  } */

  .custom-button,
  .edit-custom-button,
  .add-custom-button,
  .list-custom-button {
    width: auto; 
    margin: 10px 0; 
  }

  .label {
    font-size: 1em; 
  }

  .boxCustom {
    height: auto; 
    padding: 8px; 
  }

  .cartnext {
    margin-left: 0; 
  } 

  .left-column, .right-column {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-right: 0px;
  }
/* 
  .mat-card-container-items {
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;  
  } */

   .mat-card.expansion2 {
    width: 100vh;
    border-top: 8px solid darkcyan;
    opacity: 0.9;
    margin-bottom: 20px;
  }

  .footer {
    width: 100%; /* Ancho del 100% en dispositivos móviles y tablets */
    margin-left: 0; /* No se aplica margen izquierdo en dispositivos móviles y tablets */
  }

/*   
.mat-card.expansion-items2 {
  width: 100%;
  border-top: 8px solid darkcyan;
  opacity: 0.9;
  margin-bottom: 20px;
}
.mat-card.expansion-items3 {
  width: 100%;
  border-top: 8px solid darkcyan;
  opacity: 0.9;
  margin-bottom: 20px;
} */

  
}
