<div class="image">
  <div class="login">
    <div class="margin">
      <div class="mat-card-wrapper">
        <mat-card class="mat-card-white">
          <!-- Contenido para la parte blanca -->
          <mat-card-title>
            <a href="https://www.facebook.com/officialsonaenterprises/" class="imageLogo"></a>
          </mat-card-title>

          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="username" placeholder="example@sona.com" >
            <mat-icon matSuffix class="icon">email</mat-icon>
          </mat-form-field>
          
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" class="" placeholder="Password"  formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" >
                <mat-icon class="icon">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <button mat-button class="button">
            <span style="color: white;">Login</span> 
          </button>

          <br>

          <div class="line-container">
            <hr class="line">
            <span class="line-text">Or continue with</span>
            <hr class="line">
          </div>

          <br>

          <button mat-button class="buttonSocial" (click)="login()">
            <img src="/assets/images/microsoft.png"  style="height: 20px;width: 20px;" class="img-fluid">
          </button>

          
          <br>

        </mat-card>
        <mat-card class="mat-card-transparent">
          <p>Sona
          <br><br><br>
          Enterprise</p> 
        </mat-card>
      </div>
      
  </div>

  </div>

