<div >

  <div class="image">
    <a href="https://www.facebook.com/officialsonaenterprises/" class="imageLogo"><span ></span></a>
  </div>

  <br>
  <div  class="login">
   <div class="margin">
    
    <mat-card>
      <mat-card-title>LOGIN</mat-card-title>
      <br>
      <div class="input">
        <mat-icon class="icon">person</mat-icon>
        <mat-form-field class="">
            <input matInput placeholder="Username" formControlName="username" class="">
        </mat-form-field>
      </div>

      <div class="input">
        <mat-icon class="icon">keygen</mat-icon>
        <mat-form-field class="">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" class="" placeholder="Password"  formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" >
                <mat-icon class="icon" style="font-size: 22px; margin-bottom: 15px;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
      </div>

      <br>
      <button mat-button class="button">
        <span style="color: white;">Login</span> 
      </button>
    </mat-card>
    <br>
    <br>
    <br>
    <mat-card>
      <mat-card-subtitle>or Connect with Social Media</mat-card-subtitle>
      <br>
      <button mat-button class="button">
        <span style="color: white;">Sign in with Microsoft</span>
        <img src="/assets/images/microsoft.png"  style="height: 20px;width: 20px;">
      </button>
      </mat-card>
      
      
  </div>
</div>
