.background {
  background-color: #fffff6;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

.LabelCardCode {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 20px;
  flex: 1;
  font-weight:bold; 
}

.LabelCardName{
text-align: right;
}
.customerSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: right;
  font-size: 17px;
}
.customer-actions{
  align-items: center;
  display: flex;    
}
 
.custom-icon-container {
  display: flex;
  justify-content: space-between;
  text-align: right;
}
.custom-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;  
  height: 60px;  
  background-color: #a62934;  
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  color: white;  
  font-size: 18px;  
  border-radius: 50%;  
  font-weight:bold ;  
  
 
} 
/* .custom-icon {  
  background-color: #a62934;  
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  width: 30px; 
  height: 30px; 
  background-color: #a62934; 
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  color: white;  
  font-size: 18px; 
  border-radius: 50%; 
  font-weight: bold; 
  margin-right: 5px; 
     
  
 
} */

.custom-icon::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.Customer {
  flex: 1;
  margin-bottom: 23px;
  width: calc(25% - 15px);
  box-sizing: border-box;
  width: 100px;
  margin-right: 15px;
}

.Customer:hover {
  transform: scale(1.15);
  transition: transform 0.3s ease;
}

.container {
  color: rgb(255, 255, 255);
  padding: 10px;
  height: 100%;
}

.input-container {
  color: black;
}

.customers {
  color: black;
  display: flex;
  flex-wrap: wrap;
}

mat-card {
  border-top: 10px solid #0F97A6;
  background-color: rgba(254, 254, 254, 1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  
}

h1 {
  color: darkcyan;
}

h2 {
  margin-left: 30px;
  color: black;
}

.custom-spinner {
  top: 100px;
}

.loader {
  border: 16px solid #ffffff;
  border-radius: 50%;
  border-top: 16px solid #397eac;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

.SearchProg {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  margin-left: 110px;
}

.searchCustomer {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 15px;
  height: 40px;
  width: 40%;
}

.iconsearch {
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 10px;
  align-items: center;
  display: flex;
  background-color: darkcyan;
}

.iconsearch mat-icon {
  margin-right: 5px;
}
.user-icon{
  font-size: 30px;
  
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: darkcyan;
}

button {
  border: none;
  color: #fff;
  background-image: linear-gradient(30deg, #a62934, #eba881);
  border-radius: 20px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  padding: 0.6em 1.5em;
 }
 
 button:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 2.5s infinite;
  background: linear-gradient(30deg, #be0c1b, #3a86ff);
 }
 
 @keyframes pulse512 {
  0% {
   box-shadow: 0 0 0 0 #05bada66;
  }
 
  70% {
   box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }
 
  100% {
   box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
 }


@media (max-width: 767px) {
  .Customer {
    width: calc(50% - 15px);
    margin-right: 15px;
  }

  .Customer:nth-child(2n) {
    margin-right: 0;
  }

  .labelSearch {
    margin-left: 0;
  }
  .Customer{
    width: 25vh;
  }
}
@media (min-width: 768px) {
  .customerSection {
    box-sizing: border-box; 
    width: 105%;
 }
 .custom-icon {
  display: flex !important;
  }
}
/* Mostrar íconos a ancho completo en tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  .custom-icon {
    width: 100% !important; 
  }
}