.mat-table {
    display: flex;
    flex-direction: column;
  }
  
  .mat-row,
  .mat-header-row {
    flex: 1;
    display: flex;
    justify-content: space-between;
  }
  
  .mat-cell,
  .mat-header-cell {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .mat-cell {
    display: flex;
    align-items: center;
    padding-left: 8px;
  }
  
  .mat-header-cell {
    font-weight: bold;
    padding-left: 8px;
  }
  