<div class="backround">
  <div class="header">
    <h1 class="title">Cart</h1>
    <mat-icon class="icon">shopping_cart</mat-icon>
  </div>
  <div class="background-container">
    <mat-card class="body">
      <mat-card-content class="main-content">
        <div class="cards-container">
          <mat-card class="main-card">
            <div class="input-containerAdd">
              <label class="label"><b>Search by name:</b></label>
              <input type="text" class="boxCart" id="search-text" aria-describedby="search-text" 
              [(ngModel)]="searchText" placeholder="Enter text to search" 
              autofocus [matAutocomplete]="auto" >
              <mat-autocomplete #auto="matAutocomplete" [panelWidth]="'auto'" (optionSelected)="onSelectItem($event.option.value)">
                <mat-option *ngFor="let c of ListItems| appFilter: searchText"  value="{{c.ItemCode}}"  class="optionList" >
                  {{c.ItemCode}} - {{c.ItemName}}
                </mat-option>
              </mat-autocomplete>
            </div>
            <div class="input-containerAdd">
              <label><b>Item:</b></label>
              <input type="text" class="boxCart" matInput placeholder="Item" disabled="true" [(ngModel)]="ItemName">
            </div>
            <div class="input-containerAdd" *ngIf="ItemName">
              <label><b>Quantity:</b></label>
              <input type="number" class="boxCart" matInput placeholder="Quantity" disabled="false" [(ngModel)]="Quantity" >
            </div>
            <div class="input-containerAdd" *ngIf="ItemName">
              <label><b>Price:</b></label>
              <input type="number" class="boxCart" matInput placeholder="Price" disabled="true" [(ngModel)]="Price" >
            </div>
            <!-- <div class="input-container" *ngIf="ItemName">
              <label><b>Comments: </b></label>
              <input type="text" class="boxCart" matInput placeholder="Add Comments"  [(ngModel)]="item.Comments" >
            </div> -->
            <button mat-raised-button class="add-button" (click)="addToCart()">Add</button>
            <br>
          </mat-card>        
          <mat-card id="Cart" class="info-card image-card">
            <mat-card-header>
              <h1>Shopping Cart</h1>
            </mat-card-header>
            <mat-card-content class="info-content">
              <div class="info-header">
                <div class="cart-items" *ngFor="let Item of Cart; let listIndex=index;" >
                  <div class="input-container">
                    <label for="ItemName"><b>Item:</b></label>
                    <input type="text" matInput class="boxCartItemName" for="ItemName"  id="ItemName" readonly [value]="Item.ItemName">
                  </div>
                  <div class="input-container">
                    <label for="Quantity"><b>Quantity:</b></label>
                    <input type="number" matInput class="boxCartItem" for="Quantity" min="1" max="1000"
                      [(ngModel)]="Item.Quantity" (change)="updateTotal(listIndex,Item)">
                  </div>
                  <div class="input-container">
                    <label for="Total"><b>Total:</b></label>
                    <input type="number" matInput class="boxCartItem" for="Price" min="1" readonly  [value]="Item.LineTotal! % 1 === 0 ? Item.LineTotal : Item.LineTotal | number:'1.2-2'">
                  </div>
                  <button mat-raised-button class="btnInfo" (click)="RemoveToCart(listIndex)">
                    <mat-icon>delete</mat-icon>
                  </button>
                  <div class="comments-container">
                    <label for="Comments"><b>Comments:</b></label>
                    <input type="text" class="boxCart" matInput placeholder="Add Comments" [(ngModel)]="Item.U_Comments"
                    (change)="updateComment(Item)">
                  </div>
                </div>
              </div>
            </mat-card-content>
            <mat-divider></mat-divider>
            <div style="margin: 10px; text-align: right;">Total: ${{subTotal()}}</div>
              
          </mat-card>
        </div>
      </mat-card-content> 
      <br>   
      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayoutAlign.xs="center center">
        <a mat-raised-button color="primary" class="mobile-button"  (click)="backWindow()">Back</a>
        <a mat-raised-button color="primary" class="mobile-button" (click)="nextWindow()">Review Order</a>
      </div>
    </mat-card>
  </div>
</div>
