.backround {
  /* background-image: url('src/assets/images/BussinesVector.jpeg'); */
  background-image: url('src/assets/images/Camping.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
::ng-deep .custom-snackbar{
  height: 100%;
  border-radius: 20px;
  background: rgb(0, 255, 170);
}
/* .mat-autocomplete-panel {
  max-width: 60px; 
} */

.background-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.header {
  display: flex;
  align-items: center; 
  width: 45%;
  color: rgb(255, 255, 255);
  margin-left: 90px;
  padding-top: 20px;
}

.title {
  margin-right: 10px; 
}

.icon {
  font-size: 25px; 
  color: rgb(255, 255, 255);
  padding-bottom: 11px;
  /* margin-left: 90px; */
}

.body {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  background-color: transparent;
  /* background-color: rgba(254, 254, 254, 0.8); */
  box-shadow: none; 
  width: 100%;
  padding: 20px;
  margin-bottom: 30%;
}

.main-content {
  border-top: 8px solid darkcyan;
  background-color: rgba(254, 254, 254, 0.8);
  padding: 20px;
  border-radius: 10px
}

.cards-container {
  display: flex;
  justify-content: space-between;
  
}

.main-card {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 45%;
  margin-top: 10px;
  color:darkcyan;
}

.info-card {
  width: 50%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  color:darkcyan;
 
}

.image-card {
  background-image: url('https://cdn.pixabay.com/photo/2016/12/12/13/23/shopping-cart-1901584_1280.png');
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center;
}

.cartnext {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.cart-items{
  color: darkcyan;
  position: relative;
  margin-bottom: 10px;
  margin-left: 5px;
  display: flex;
  flex-direction: row; /* elementos en una fila */
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-left: 5px;
  color: #e77155;
}
.cart-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-gap: 10px; 
}

.total-container {
  grid-column: 3; 
}

.comments-container {
  grid-column: span 4; 
  margin-top: 10px; 
  color: #e77155;
}

.input-cart{
  margin-left: 5px;
}

.input-containerCart {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-left: 10px;
  color: #e77155;
}


.input-container label {
  margin-top: 10px;
}

.boxCart {
  height: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 300px;
}

.boxCartItem  {
  height: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 60px;
  text-align: center;
}

.boxCartItemName  {
  height: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 250px;
}

.info-content {
  flex: 1;
}

.info-header {
  display: flex;
  flex-direction: column;

  
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}

.btnInfo {
  background-color: rgb(248, 77, 85);
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  margin-top: 14px;
  margin-left: 4px;
  width: 0px;
}

.add-button {
  margin-top: 5px;
  margin-left: 20px;
  background-color: rgb(255, 117, 83);
  color: white;
}

.right-button,
.left-button {
  width: 45%;
  margin-top: 5px;
}
/* Estilos responsivos */
@media screen and (max-width: 1024px) {
  .cards-container {
    flex-direction: column;
    align-items: center;
  }

  .main-card,
  .info-card {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .right-button,
  .left-button {
    width: 100%;
    margin: 5px 0;
  }

  .add-button {
    margin-left: 0;
    margin-top: 10px;
  }

  .btnInfo {
    margin-left: 20px;
    margin-top: 20px;
  }

  .input-containerCart {
    margin-bottom: 20px;
    align-items: center;
    margin-left: 20px;
  }
}
/* Estilos para dispositivos móviles */
/* Estilos responsivos para dispositivos móviles */
@media screen and (max-width: 480px) {
  .background-container {
    min-height: auto; 
  }

  .header {
    width: 100%; 
    margin-left: 0; 
  }

  .body {
    margin-bottom: 10%; 
  }

  .cards-container {
    flex-direction: column; 
    align-items: center; 
  }

  .main-card,
  .info-card {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
  }

  .boxCart,
  .boxCartItem,
  .boxCartItemName {
    width: 100%;
  }

  .right-button,
  .left-button {
    width: 100%;
    margin: 5px 0;
  }

  .add-button {
    margin-left: 0;
    margin-top: 10px;
  }

  .btnInfo {
    margin-left: 30px;
    margin-top: 20px;
  }

  .mobile-button {
    margin-top: 10px;
  }

  .info-content .input-container {
    display: flex;
    align-items: flex-start;
    margin-right: 100%;
    width: 30%;
  }

  .info-content .input-container label {
    margin-bottom: 5px;
    width: 100%;
    text-align: left;
  }

  .info-content .input-container input {
    width: 350%;
  }

  .boxCartItemName {
    margin-left: 10px;
  }

  .info-content .cart-items {
    display: flex;
    flex-direction: column;
  }

  .info-content .cart-items .input-container {
    margin-bottom: 10px;
  }
/*acomodar el label e input de comments*/
  .comments-container {
    grid-column: span 4; 
    margin-top: 1px; 
    color: #e77155;
    /* margin-right: 100%; */
    align-items: flex-start;
    width: 100%;
  }
}
