<mat-dialog-content class="mat-typography">
  <div class="modal-header">
    <h1 mat-dialog-title style="color: rgb(255, 255, 255);">Item Info</h1>
    <button mat-icon-button mat-dialog-close aria-label="Close">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="modal-body">
    <div class="half-width">
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Item Code</mat-label>
        <input matInput [value]="Item.ItemCode" disabled>
      </mat-form-field>
      
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Available</mat-label>
        <input matInput [value]="inStock" placeholder="Available" disabled="true">
      </mat-form-field>
    </div>

    <div class="half-width">
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Item Name</mat-label>
        <input matInput [value]="Item.ItemName" disabled>
      </mat-form-field>
      
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Quantity</mat-label>
        <input matInput [value]="QuantityItem" type="number" placeholder="Quantity" min="1">
      </mat-form-field>
    </div>
  </div>

  <!-- UDF COMMENTS moved outside of the modal-body -->
  <div style="margin-top: 20px; text-align: center;">
    <!-- <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label class="label">UDF Comments:</mat-label>
      <input type="text" class="boxCustom editable-input" matInput placeholder="UDF Comments" [disabled]="blockStatus">
    </mat-form-field> -->
    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Notes and remarks: </mat-label>
      <input matInput class="boxCustom editable-input" placeholder="Notes and remarks" [(ngModel)]="udfComments">
    </mat-form-field>
  </div>
  <!-- btns actions -->
  <div>
    <div class="modal-actions" style="display: flex; justify-content: space-between; padding-top: 20px;">
      <button mat-button color="warn" (click)="AddInner()">Inner {{Item.U_InnerPackQty}}</button>
      <button mat-button color="warn" (click)="AddMaster()">Master {{Item.U_MasterPackQty}}</button>
      <button mat-button color="warn" (click)="UpdateScanner()">Update</button>
      <button mat-button color="warn" (click)="DeleteScanner()">Delete</button>
    </div>
  </div>
  <div class="label-container">
    
  </div>
</mat-dialog-content>
