<mat-dialog-content class="mat-typography">
  <div class="modal-header">
    <h1 mat-dialog-title style="color: rgb(255, 255, 255);">Item Info</h1>
    <button mat-icon-button mat-dialog-close aria-label="Close">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="modal-body">
    <div class="half-width">
      <div class="form-field-container">
        <span class="label" style="color: rgb(255, 108, 108);">Item Code: </span><br>
        <span class="value">{{Item.ItemCode}}</span>
      </div>
    </div>

    <div class="half-width">
      <div class="form-field-container">
        <span class="label" style="color: rgb(255, 108, 108);">Item Name: </span><br>
        <span class="value">{{Item.ItemName}}</span>
      </div>
    </div>

    <div class="half-width">
      <div class="form-field-container">
        <span class="label" style="color: rgb(255, 108, 108);">Available: </span><br>
        <span class="value">{{inStock}}</span>
      </div>
    </div>

    <div class="half-width" style="margin-top: 5px;">
      <div class="form-field-container" style="width: 100%;">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Quantity:</mat-label>
          <input matInput placeholder="Quantity" type="number" [(ngModel)]="QuantityItem">
        </mat-form-field>      
      </div>
    </div>
  </div>

  <div style="width: 100%;">
    <div class="form-field-container" style="width: 100%;">
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Notes and remarks</mat-label>
        <input matInput placeholder="Notes and remarks" [(ngModel)]="udfComments">
      </mat-form-field>      
    </div>
  </div>
  
  <div class="modal-actions">
    <button mat-button color="warn" (click)="AddInner()">Inner {{Item.U_InnerPackQty}}</button>
    <button mat-button color="warn" (click)="AddMaster()">Master {{Item.U_MasterPackQty}}</button>
    <button mat-button color="warn" (click)="UpdateScanner()" *ngIf="AddItem == false">Update</button>
    <button mat-button color="warn" (click)="DeleteScanner()" *ngIf="AddItem == false">Delete</button>
    <button mat-button color="warn" (click)="UpdateScanner()" *ngIf="action || 'add'">Add</button>
  </div>
</mat-dialog-content>