 <!-- order-window.component.html -->
<div class="order-window">
    <ng-container #orderEditContainer></ng-container>
</div>
<!-- <div class="order-window" [class.minimized]="minimized" [class.maximized]="maximized">
   

    <div class="header" (click)="toggleMinimize()">
      Order Windows
      <div class="button-container">
        <button class="close" mat-icon-button mat-dialog-close aria-label="Close">
          <mat-icon>close</mat-icon>
        </button>
        </div>  
    </div>
    <div class="body">   
    </div>
</div> -->