<div class="sidebar-container" [class.expanded]="isSidebarExpanded" (mouseover)="expandSidebar()" (mouseleave)="collapseSidebar()">
    <img src="../../assets/images/SonaLogo.png" style="width: 50px;height:50px;margin: 0px;"> 
    <!-- <h1 class="example-app-name">Sona</h1> -->
    <div class="spacer"></div>
  <!-- Íconos del Sidebar -->
  <div class="sidebar-icons" *ngIf="!isSidebarExpanded">
    <a mat-button routerLink="/dashboard">
      <mat-icon class="icon">home</mat-icon>
    </a>
    <a mat-button routerLink="/dashboard/costumers">
      <mat-icon class="icon">person</mat-icon>
    </a>
    <button mat-button (click)="toggleOrdersMenu()">
      <mat-icon class="icon">description</mat-icon>
    </button>
  </div>
  
  <!-- Menú Expandido -->
  <div *ngIf="isSidebarExpanded" class="sidebar">
    <h1 class="example-app-name">Sona</h1>
    <a mat-button routerLink="/dashboard">
      <mat-icon class="icon">home</mat-icon>
      Home
    </a>
    <a mat-button routerLink="/dashboard/costumers">
      <mat-icon class="icon">person</mat-icon>
      Customers
    </a>
    <button mat-button (click)="toggleOrdersMenu()">
      <mat-icon class="icon">description</mat-icon>
      Orders
      <mat-icon class="arrow-icon">{{ isOrdersMenuExpanded ? 'expand_less' : 'expand_more' }}</mat-icon>
    </button>
    <div *ngIf="isOrdersMenuExpanded" class="submenu">
      <a mat-button routerLink="/dashboard/order-index">
        <mat-icon class="icon">view_module</mat-icon>
        Orders
      </a>
      <a mat-button routerLink="/dashboard/items">
        <mat-icon class="icon">blur_linear</mat-icon>
        Items
      </a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
