<aside class="sidebar close" [ngClass]="{'close': isSidebarClosed}" (mouseenter)="expandSidebar()" (mouseleave)="collapseSidebar()">
  <div class="logo">
    <img src="/assets/images/SonaLogo.png" alt="Sona Logo" style="width: 50px; height:50px; margin: 15px;"/>
    <span class="logo-name">Sona Enterprises</span>
  </div>
  <nav>
    <ul class="nav-list">
      <li>
        <a href="/dashboard">
          <i class="bi bi-house"></i>
          <span class="link-name">Home</span>
        </a>
        <ul class="sub-menu blank">
          <li><a href="/dashboard" class="link-name">Home</a></li>
        </ul>
      </li>
      <li>
        <a mat-icon-button [matMenuTriggerFor]="ordersMenu" class="menu-link">
          <div class="icon-container">
            <i class="bi bi-card-list"></i>
            <span class="link-name"><span class="text">Orders</span></span>
          </div>
        </a>
        <mat-menu #ordersMenu="matMenu">
          <a mat-menu-item routerLink="/dashboard/order-index">
            <i class="bi bi-collection-fill"></i> Orders
          </a>
          <a mat-menu-item (click)="goToNewOrder()">
            <i class="bi bi-file-earmark-plus-fill"></i> Start New Order
          </a>
        </mat-menu>
      </li>
      <li>
        <div class="icon-link">
          <a href="/dashboard/costumers">
            <i class="bi bi-person-square"></i>
            <span class="link-name">Customers</span>
          </a>
        </div>
      </li>
      <li>
        <a href="/dashboard/items">
          <i class="bi bi-diagram-3"></i>
          <span class="link-name">Items</span>
        </a>
        <ul class="sub-menu blank">
          <li><a href="/dashboard/items" class="link-name">Items</a></li>
        </ul>
      </li>
      <li>
        <div class="profile-details">
          <div class="profile-content">
            <a (click)="logout()">
              <img src="/assets/images/IconLogout.png" alt="Logout" class="logout-image" />
            </a>
            <div>
              <span (click)="logout()" class="link-name"></span>
            </div>
          </div>
          <div class="user-info" *ngIf="!isSidebarClosed">
            <div class="user-email" *ngIf="currentUserEmail">
              {{ currentUserEmail }}
            </div>
          </div>
        </div>
      </li>
    </ul>
  </nav>
</aside>
<div class="sidebar-overlay" [ngClass]="{'active': !isSidebarClosed}" (click)="collapseSidebar()"></div>
<main class="main-content" [ngClass]="{'expanded': !isSidebarClosed}">
  <router-outlet></router-outlet>
</main>