<mat-tab-group animationDuration="2000ms">
  <mat-tab label="Welcome">
    <div class="container mt-5">
      <div class="jumbotron text-center">
        <h1 >Welcome to Sona!</h1>
        <!-- <p class="lead">OUR THANKS TO YOU <br>
          Sona Enterprises would like to take this chance to thank you for your interest in our products and company. 
          We promise to try our best to provide you with the best service at even better prices! We would like to express our sincere appreciation to our returning customers for your continued patronage of our business. 
          Thanks to customers like you, we are celebrating over 30 years of business. Here's to many years of doing business with you!</p> -->
      </div>
      <!-- Pics Carousel -->
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active text-center">
            <img src="/assets/images/Sona1.png" class="d-block mx-auto" alt="Imagen 1">
          </div>
          <div class="carousel-item text-center">
            <img src="/assets/images/Sona2.jpg" class="d-block mx-auto img-little" alt="Imagen 2">
          </div>
          <div class="carousel-item text-center">
            <img src="/assets/images/Sona4.jpg" class="d-block mx-auto img-little" alt="Imagen 3">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <!-- Tarjetas social media -->
      <div class="row mt-5">
        <div class="col-lg-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Facebook</h5>
              <ngx-charts-pie-chart
                [view]=" [400, 200]"
                [scheme]="colorScheme"
                [results]="single"
                [legend]="showLegend"
                [explodeSlices]="explodeSlices"
                [labels]="showLabels"
                [doughnut]="doughnut"
                (select)="onSelect($event)">
              </ngx-charts-pie-chart>
              <p class="card-text">Follow us on Facebook!</p>
              <a href="https://www.facebook.com/officialsonaenterprises/" class="btn btn-primary">Go to Facebook</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Twitter</h5>
              <ngx-charts-bar-vertical
                [view]="[700, 400]"
                [scheme]="colorScheme"
                [results]="singleBar"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegendBar"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                (select)="onSelect($event)">
              </ngx-charts-bar-vertical>
              <p class="card-text">News in real time...</p>
              <a href="#" class="btn btn-primary">Go to Twitter</a>
            </div>
          </div>
        </div>
        <!-- <div class="col-lg-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Instagram</h5>
              <p class="card-text">Videos and photos on Instagram</p>
              <a href="#" class="btn btn-primary">Go to Instagram</a>
            </div>
          </div>
        </div> -->
      </div>
    </div>    
  </mat-tab>
  <mat-tab label="About us">
    <div class="container mt-5">
      <div>
        <h1 class="text-center display-4">About us</h1>
        <p class="text-center fs-5">
          Established in 1989, Sona Enterprises is a family-run operation that started in a garage and is now located in Santa Fe Springs, California. Sudhir and Sadhana Mundhra built the company on the ideals of competitive pricing, value items, and excellent customer service. Ideals are still closely followed today. Every day as a family and a company we strive to improve our efficiency, become more environmentally responsible, and improve the experience for our customers.
        </p>
      </div>
    </div>
    <!-- Pics Carousel -->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active text-center">
          <img src="/assets/images/SE1.png" class="d-block mx-auto" alt="Imagen 1">
        </div>
        <div class="carousel-item text-center">
          <img src="/assets/images/Sona2.jpg" class="d-block mx-auto img-little" alt="Imagen 2">
        </div>
        <div class="carousel-item text-center">
          <img src="/assets/images/Sona4.jpg" class="d-block mx-auto img-little" alt="Imagen 3">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </mat-tab>
</mat-tab-group>
