<div class="background">
  <div class="container">
    <mat-progress-spinner *ngIf="isLoading" mode="indeterminate" class="centered"></mat-progress-spinner> 
    <br>
    <h2>Orders</h2>
    <div class="labelSearch">
      <div class="label-container">
        <input type="text" id="search-input" class="searchOrder" aria-describedby="search-text" [(ngModel)]="searchOrder" placeholder="Enter text to search" autofocus [matAutocomplete]="autoItem" type="text" >
        <mat-autocomplete #autoItem="matAutocomplete" [panelWidth]="'autoItem'" >
          <mat-option *ngFor="let c of ListOrdersFound"  value="{{c.DocNum}}"  class="optionList" >
            {{c.DocNum}} - {{c.DocEntry}}
          </mat-option>
        </mat-autocomplete>
      </div>
      <button class="icon-search" (click)="searchingOrder()">
        <mat-icon>search</mat-icon>
      </button>
      <button class="icon-refresh" (click)="reloadAll()">    
        <mat-icon>refresh</mat-icon>
        <!-- <div  class="progress-bar">
          <div class="progress"></div>
        </div> -->
      </button>
      <button class="icon-drop" [matMenuTriggerFor]="menu">
        <mat-icon>arrow_drop_down_circle</mat-icon>
        <mat-menu #menu="matMenu">
          <div mat-menu-item (click)="optionSelected('Option 1')">Option 1</div>
          <div mat-menu-item (click)="optionSelected('Option 2')">Option 2</div>
          <div mat-menu-item (click)="optionSelected('Option 3')">Option 3</div>
        </mat-menu>
      </button>     
      <div>
        <!-- Botones para filtrar entre órdenes normales y de borrador -->
        <div class="filter-buttons">
          <button class="filter-button" (click)="showRealOrders()"><mat-icon>book</mat-icon></button>
          <button class="filter-button" (click)="showDraftOrders()"><mat-icon>description</mat-icon></button>
        </div>
      </div>
    </div>
    <!-- boton flotante -->
<!-- <div class="ContainerBtnFloat">
  <input type="checkbox" id="btnplus">
  <div class="options">
    <i class="bi bi-bag-plus"></i>
    <i class="bi bi-bag-plus"></i>
    <i class="bi bi-bag-plus"></i>
  </div>
  <div class="btnbutton">
    <label for="btnplus" class="bi bi-plus-circle" style="color: black;"></label>
  </div>
</div> -->
    <!-- Sección para órdenes normales -->
    <div *ngIf=" !isLoading && showRealOrdersFlag && ListOrders.length > 0 ">
    <!-- <div *ngIf="!isLoading && showRealOrdersFlag && ListOrders.length > 0"> -->
      <div fxLayout="row wrap" fxLayoutGap="15px" fxLayoutAlign="center center" class="orderSection">
        <div class="orders" fxFlex.gt-sm="20%" fxFlex.gt-xs="25%" *ngFor="let Order of ListOrders; let listIndex=index;">
          <mat-card class="Cart" style="display: flex;" (click)="selectMatCard(Order)">
            <!-- Contenido de la tarjeta para órdenes normales -->
            <mat-card-header>
              <div class="doc-num-container">
                <h1 class="doc-num">{{ Order.DocNum }}</h1>
              </div>
              <div class="card-info">
                <div class="label-card">
                  <mat-icon class="label-icon">date_range</mat-icon>
                  {{ Order.DocDueDate.slice(0, 10) }}
                </div>
                <br>
                <div class="label-card">
                  <mat-icon class="label-icon">local_offer</mat-icon>
                  Total: ${{ Order.DocTotal }}
                </div>
              </div>
            </mat-card-header>
            <mat-card-content class="left-align">
              <br>
              <label>{{ Order.NumAtCard }}</label>
              <br>
              <label class="name">{{ Order.CardCode }} - {{ Order.CardName }}</label>
            </mat-card-content>
            <div class="icon-container">
              <!-- <img src="assets/icons/icons8-sap-48.png" alt="SAP icon">
              <img src="assets/icons/icons8-database-48.png" alt="IndexDB Icon">
              <img src="assets/icons/icons8-planet-50.png" alt="CosmosDB icon">              -->
              <br>
              <mat-icon svgIcon="indexdb"></mat-icon>
              <mat-icon svgIcon="sap"></mat-icon>
              <mat-icon svgIcon="cosmosdb"></mat-icon>  
            </div>
          </mat-card>
        </div>
      </div>
    </div>
    <!-- Sección para órdenes de borrador -->
    <div class="">
      <div *ngIf="!showRealOrdersFlag &&!isLoading && ListOrdersDrafts.length > 0">
      <!-- <div *ngIf="!isLoading && !showRealOrdersFlag && ListOrdersDrafts.length > 0"> -->
        <div fxLayout="row wrap" fxLayoutGap="15px" fxLayoutAlign="center center" class="orderSection">
          <div class="orders" fxFlex.gt-sm="20%" fxFlex.gt-xs="25%" *ngFor="let Order of ListOrdersDrafts; let listIndex=index;">
            <div class="draft-orders">
              <mat-card class="CartB" style="display: flex;" (click)="selectMatCard(Order)">
                <!-- Contenido de la tarjeta para órdenes de borrador -->
                <mat-card-header>
                  <div class="doc-num-container-drafts">
                    <h1 class="doc-num">{{ Order.id }}</h1>
                  </div>
                  <div class="card-info">
                    <div class="label-card">
                      <!-- <mat-icon class="cloudid-icon">cloud_off</mat-icon> -->
                      <!-- {{ Order.DocDueDate }}  -->
                    </div>
                    <br>
                    <!-- Coloca aquí las propiedades adecuadas de las órdenes de borrador -->
                  </div>  
                </mat-card-header>
                <mat-card-content class="left-align">
                  <br>
                  <label>{{ Order.DocDueDate }}</label> <!-- Asegúrate de usar las propiedades correctas para las órdenes de borrador -->
                  <br>
                  <label>{{Order.CardCode}}</label>
                  <mat-icon *ngIf="Order.status === 'index'" svgIcon="indexdb"></mat-icon>
                  <ng-container *ngIf="Order.status === 'cosmos'">
                    <mat-icon svgIcon="indexdb"></mat-icon>
                    <mat-icon svgIcon="cosmosdb"></mat-icon>
                  </ng-container>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
        <br><br>
      </div>
    </div>
  </div>
</div>
