.background {
  background-color: #fffff6;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}
.doc-num-container {
  background-color: #a62934; /* Background color */
  padding: 5px 10px; 
  border-radius: 5px; 
  margin-right: 1px; 
  align-items: center; 
  display: table;
}
.doc-num-container-drafts{
  background-color: #1e74f7; /* Background color */
  padding: 5px 10px; 
  border-radius: 5px; 
  margin-right: 1px; 
  align-items: center; 
  display: table;
}

.doc-num {
  color: white; /* Font color */
  display: table-cell; 
  vertical-align: middle;
  font-size: 18px;
}
.left-align {
  text-align: center;
  font-weight: bold;
}
.card-info {
  text-align: left;
}

.label-card {
  display: flex;
  align-items: center;
  font-weight: bold;
}
/* Estilos normales */
.buttons-container {
  padding-bottom: 2%;
  margin-right: 2%;
}

.filter-buttons {
  display: flex;
  align-items: flex-start; /* Cambiado de flex-end a flex-start */
  flex-wrap: wrap;
}

.filter-button {
  margin-right: 2%;
  font-size: 10px; 
  padding: 8px 15px;
}

.filter-button:last-child {
  margin-right: 0;
}
.label-icon {
  font-size: 24px;
  color: #a62934; 
}
.cloudid-icon{
  font-size: 24px;
  color: #1e74f7; 
}

.mat-card-header {
  position: relative;
}

.cloudid-icon {
  position: absolute;
  top: 5px; /* Ajusta la posición vertical según sea necesario */
  right: 5px; /* Ajusta la posición horizontal según sea necesario */
}

/* Estilos adicionales para el resto de la tarjeta */
.header-content {
  display: flex;
  align-items: center;
}

.doc-num-container {
  margin-right: 10px;
}

.cloud-icon-container {
  margin-top: 5px;
}

/* Otros estilos que puedas necesitar */
.orderSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: right; /* Cambiado a "right" para coincidir con el estilo de Customers */
  font-size: 17px; /* Ajustado el tamaño de fuente */
}

.Cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  min-height: 250px; /* Ajusta la altura deseada */
  width: 400px;
  height: 300px;
}

.Cart:hover {
  transform: scale(1.15); /* Cambiado el valor de escala al mismo que en Customers */
  transition: transform 0.3s ease;
}

.container {
  color: rgb(255, 255, 255);
  padding: 10px;
  height: 100%;
}

.input-container {
  color: black;
}

.orders {
  color: black;
  display: flex;
  flex-wrap: wrap;
}

mat-card {
  border-top: 10px solid #0F97A6; /* Cambiado el color del borde superior */
  background-color: rgba(254, 254, 254, 1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}

h1 {
  color: darkcyan;
}

h2 {
  margin-left: 30px;
  color: black; /* Cambiado el color del título */
}

.custom-spinner {
  top: 100px;
  color: rgb(139, 9, 0); /* Cambiado el color del texto */
}

.loader {
  border: 16px solid #ffffff;
  border-radius: 50%;
  border-top: 16px solid #397eac;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
  background-color: #fffff6;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  min-height: 100%;
}

.labelSearch {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  margin-left: 110px;
  margin-bottom: 10px;
}

.searchOrder {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 15px;
  height: 40px;
  width: 40%;
}

.iconsearch {
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 10px;
  align-items: center;
  display: flex;
  background-color: darkcyan;
}

.iconsearch mat-icon {
  margin-right: 5px;
}

.centered {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: darkcyan;
}


button {
  border: none;
  color: #fff;
  background-image: linear-gradient(30deg, #a62934, #eba881);
  border-radius: 20px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  padding: 0.6em 1.5em;
 }
 
 button:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 2.5s infinite;
  background: linear-gradient(30deg, #be0c1b, #3a86ff);
 }
 
 @keyframes pulse512 {
  0% {
   box-shadow: 0 0 0 0 #05bada66;
  }
 
  70% {
   box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }
 
  100% {
   box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
 }

/* Media query para dispositivos móviles */
@media (max-width: 539px) {
  .Cart {
    width: calc(50% - 15px);
    margin-right: 15px;
    align-items:center;
    margin-left: 15px;
    width: 100%;
  }
  .mat-card {
    margin: 10px;
  }
  .labelSearch {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin-left: 0; 
    margin-bottom: 10px;
    justify-content: space-between; 
  }

  .searchOrder {
    width: 40%; 
  }

  .iconsearch,
  .iconreload {
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
    align-items: center;
    display: flex;
    background-color: darkcyan;
  }

  .iconreload {
    margin-left: 5px; 
  }

  .sap-orders,
  .draft-orders {
    text-align: center; 
  }

  .buttons-container {
    text-align: center; 
    padding-bottom: 5%; 
    padding-top: 35px;
    margin-right: 120px;
    white-space: nowrap;
  }
  .draft-orders {
    display: flex;
    flex-wrap: wrap;
  }
  .CartB {
    width: 30vh;
    height: 35vh;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .labelSearch {
      display: flex;
      align-items: center;
      padding: 10px;
      justify-content: flex-start;
      margin-left: 10%; 
    }
  
    .searchOrder {
      margin-inline-end: 5px;
    }
  
    .iconsearch {
      margin-inline-start: 0; 
      margin-inline-end: 10px;
    }
    .buttons-container{
      margin-top: -45px;
      margin-inline-start: 215px;
    }
    .filter-button {
      margin-bottom: 2px; 
    }
    .draft-orders {
      display: flex;
      flex-wrap: wrap;
    }
    .CartB {
      width: 40vh;
      height: 20vh;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px),
       only screen and (min-width: 1024px) and (max-width: 1366px) {
        
        .labelSearch {
          display: flex;
          align-items: center;
          padding: 10px;
          justify-content: flex-start;
          margin-left: 10%;
        }
        .searchOrder {
          margin-inline-end: 5px;
        }

        .iconsearch {
          margin-inline-start: 0;
          margin-inline-end: 10px;
        }
        .buttons-container {
          margin-top: -45px;
          margin-inline-start: 215px;
        }
        .filter-button {
          margin-bottom: 2px;
        }
        .Cart{
          width: 130%;
          white-space: nowrap;
          margin-right: 40px;
          padding-left: 20px;
        }
        .orderSection {
          gap: 50px;
        }
        .name{
          white-space: normal;
        }
        .draft-orders {
          display: flex;
          flex-wrap: wrap;
        }
        .CartB {
          width: 14rem;
          height: 15rem;
        }
}
@media only screen and (min-width: 540px) and (max-width: 720px){
  .buttons-container{  
    margin-top: 60px;
    position: relative;
    left: 50%; 
    transform: translateX(-50vh);  
  }
  .filter-button{
    margin: 0 !important;
  }
  .labelSearch {
    display: flex;
    align-items: center;
    padding: 0px;
    justify-content: flex-start;
    margin-left: 10%;
  }
  .searchOrder {
    margin-inline-end: 5px;
  }
  .draft-orders {
    display: flex;
    flex-wrap: wrap;
  }
  .CartB {
    width: 50vh;
    height: 40vh;
  }
}